source https://nuget.org/api/v2
source https://www.myget.org/F/freya/api/v2
source https://www.myget.org/F/aspnetvnext/api/v3/index.json

nuget Aether                              ~> 8.1
nuget Freya.Core                          ~> 4.0.0-b
nuget Microsoft.AspNetCore.Server.Kestrel ~> 1.0.0-rc2

group Build

  source http://nuget.org/api/v2

  nuget Fake
  github xyncro/build build.fsx

group Test

  framework: >= net45
  source http://nuget.org/api/v2

  nuget Unquote
  nuget xunit
  nuget xunit.runner.console

