type project
id
    Freya.Polyfills.Kestrel
title
    Freya.Polyfills.Kestrel
description
    Polyfill for Kestrel based server implementations
tags
    functional, web, f#, freya, polyfills, OWIN, kestrel
version
    3.0.0-rc02
owners
    Andrew Cherry, Ryan Riley
authors
    Andrew Cherry, Ryan Riley
copyright
    Copyright Xyncro Ltd 2016
projectUrl
    https://freya.io
licenseUrl
    https://github.com/xyncro/freya-polyfills/blob/master/LICENSE.md
requireLicenseAcceptance
    false
